# This is added to tell GitHub correct language

*.md linguist-language=Markdown
*.txt linguist-language=Markdown
*.sh linguist-language=Bash
*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.tex linguist-language=LaTeX
